<!DOCTYPE html>
<html>
  <head>
    <title>San Diego Regional Data Library IPython Server</title>
    <meta name="description" content="Django Social Auth is an easy to setup social authentication/registration mechanism for Django projects." />
    <meta name="keywords" content="django, django login, django auth, django facebook, django twitter, django openid, django oauth, social auth, openid, oauth, twitter, facebook, google, yahoo, myopenid, python" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    {% block script %}{% endblock %}
  </head>
  <body>
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>


  </body>
</html>
