{% extends "base.html" %}
{% load url from future %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://login.persona.org/include.js" type="text/javascript"></script>


{% endblock %}


{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
				San Diego Regional Data Library IPython Server
			</h1>
			<p>
                This service offers IPython notebook instances to participants in the San Diego Regional Data Library's
                Practical Data Analysis Program. To use the server, you will need to be a member of the
                <a href="https://github.com/SDRDLAnalysts">SDRDL Data Analysts</a> Github orgnaization.
			</p>
             <a rel="nofollow" href="{% url 'socialauth_begin' 'github' %}">
                 <button type="button" class="btn btn-primary btn-lg btn-block  active">Login In With Github</button>
             </a>
		</div>
	</div>
</div>

{% endblock %}
