{% extends "base.html" %}
{% load url from future %}


{% block heading %}Logged in!{% endblock %}

{% block content %}


<div class="hide">
<form id="login_form" action="{{host}}/login?next=%2F" method="post" class="navbar-form pull-left">
              <input type="password" name="password" id="password_input" value="{{ password }}">
              <button type="submit" id="login_submit">Log in</button></form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#login_submit').click();
    });
</script>

{% endblock %}
